body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url("photos/DSC_7237.JPG");
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img2{
    max-width: 450px;
    max-height: auto;
    padding: 20px;
    width: 100%;
  border-radius: 30px; 
 }
  
  
  main{
    font-family: Arial;
  }
  table {border-collapse:collapse;border-spacing:0;border: 1px solid black; }
  tr { border-collapse:collapse;border-spacing:0;border: 1px solid black;}
  td {border-collapse:collapse;border-spacing:0;border: 1px solid black;}
 
  .ozoo{
    background: rgb(136, 130, 130, .5);
    border-radius: 20px;
    padding: 20px;
    color: #000;
    box-shadow: #000;
  }
  .color{
    color: #000;
    opacity: 1;
    font-size: 110%;
    
  }
  .gps{
    background: rgb(136, 130, 130, .5);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }
  .ultext{
    text-decoration: underline;
    font-size: 150%;
  
  }
 .img1{
   max-width: 1366px;
   height: 720px;
   width: 100%;
   padding: 20px;
 }
 #map {
   max-height: 400px;
  height: auto;  
  width: 100%; 
 }
 h1{
   font-size: 800% ;
   color: #000;
   opacity: 0.9;
   text-align: left;
 }
 main h1{
  font-size: 500% ;
  color: #000;
  opacity: 0.9;
  text-align: left;
  
 }
 .center1{
   text-align: center;
   padding-top: 50px;

 }
  
  a {
    color: white;
  }
  .img{
    max-width: 150px;
    max-height: 100px;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
  }
  
  header .logo {
    color: #000;
    width: auto;
    height: 50px;
    float: left;
    
  }
  
  header nav {
    float: right;
    z-index: 999;
    color: #000!important;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
    position: relative;
  }
  
  header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff!important;
    right: 1px;
  }
  header nav ul li.active.sub-menu:before {
    content: '\f077';
  }
  
  header nav ul li ul {
    position: absolute;
    left: 0;
    background: beige!important;
    display: none;
  }
  
  header nav ul li.active ul {
    color: beige!important;
    display: block!important;
    z-index: 999;
  }
  
  header nav ul li ul li {
    display: block;
    width: 200px;
    color: #000!important;
  }
  
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #000!important;
    text-decoration: none;
    display: block;
    z-index: 999;
  }
  
  header nav ul li a:hover {
    color: #fff;
    background: #2196f3;
  }
  
  header nav ul li a.active {
    background: #2196f3;
  }
  
  .menu-toggle {
    color: #000!important;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 999;
  }
  .carousel-inner img {
    max-width: 1366px;
    max-height: 720px;
    width: 100%;
    z-index: -1;
    
}
main{
    text-align: center;
    padding: 10px;
    width: 100%;
}
footer main {
  text-align: left;
}
@media (max-width: 1200px) {
  
  header {
      padding: 0 20px;
    }
    .img1{
      max-width: 1366px;
      height: 720px;
      width: 100%;
      padding: 20px;
    }
    h1{
      font: outline;
      font-size: 150%;
      color: #000;
    }
    .center1{
      text-align: center;
   
    }
    .img{
      max-width: 150px;
      max-height: 100px;
      width: 50%;
    }
    
    header .logo {
        color: #000;
        width: auto;
        height: 50px;
        float: left;
        
      }
    .menu-toggle {
      display: block;
      color: #000;
    }
    header nav {
      
      position: absolute;
      top: 50px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: beige;
      transition: 0s;
    }
    header nav.active {
      left: 0;
    }
    header nav ul {
      display: block;
      text-align: center;
    }
    header nav ul li a {
      border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }
    header nav ul li.active ul {
      position: relative;
      background: rgb(248, 226, 154);
    }
    header nav ul li ul li {
      width: 100%;
    }
  }
  .carousel-inner img {
    max-width: 1366px;
    max-height: 720px;
    width: 100%;
    
}
 
main{
    text-align: center;
    padding-top: 3%;
    margin: 10%;
}
  @media (max-width: 425px) {
    
    header {
      padding: 0 20px;
    }
    .img1{
      max-width: 1366px;
      height: 720px;
      width: 100%;
      padding: 20px;
    }
    h1{
      font: outline;
      font-size: 150%;
      color: #000;
    }
    .center1{
      text-align: center;
   
    }
    .img{
      max-width: 150px;
      max-height: 100px;
      width: 50%;
    }
    header .logo {
        color: #000;
        width: auto;
        height: 50px;
        float: left;
        
      }
      .menu-toggle {
        display: block;
          color: #000;
      }
    header nav {
      
      position: absolute;
      top: 50px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: beige;
      transition: 0s;
      
    }
    header nav.active {
      left: 0;
    }
    header nav ul {
      display: block;
      text-align: center;
    }
    header nav ul li a {
      border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }
    header nav ul li.active ul {
      position: relative;
      background: rgb(248, 226, 154);
    }
    header nav ul li ul li {
      width: 100%;
    }
  }
  .carousel-inner img {
    max-width: 1366px;
    max-height: 720px;
    width: 100%;
    top: calc(100vh - 50px);
}
main{
    text-align: center;
    padding-top: 3%;
    margin: 10%;
}

@media (max-width: 375px) {

    header {
      padding: 0 20px;
    }
    .img1{
      max-width: 1366px;
      height: 720px;
      width: 100%;
      padding: 20px;
    }
    h1{
      font: outline;
      font-size: 150%;
      color: #000;
    }
    .center1{
      text-align: center;
   
    }
    .img{
      max-width: 150px;
      max-height: 100px;
      width: 50%;
    }
   
    .menu-toggle {
      display: block;
        color: #000;
    }
    header .logo {
      color: #000;
      width: auto;
      height: 50px;
      float: left;
      
    }
    header nav {
      
      position: absolute;
      top: 50px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: beige;
      transition: 0s;
    }
    
    header nav.active {
      left: 0;
    }
    header nav ul {
      display: block;
      text-align: center;
    }
    header nav ul li a {
      border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }
    header nav ul li.active ul {
      position: relative;
      background: rgb(248, 226, 154);
    }
    header nav ul li ul li {
      width: 100%;
    }
  }
  .carousel-inner img {
    max-width: 1366px;
    max-height: 720px;
    width: 100%;
    top: 50px;
    
}
main{
    text-align: center;
    padding-top: 50px;
    margin: 10%;
}
